.email
  color: accent-color

.link-button
  margin: 1.5rem 0 1.5rem 0


.sponsors
    padding: 2em 3rem 3em 3rem

.sponsor-images
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap;
    padding: 0 3rem 0 3rem;

.sponsor-images > a > img
    width: 10em
    padding-top: 0.8em
