body
    background: rgb(234, 234, 234)

h1
    text-align: center
    font-size: 2em

h2
    font-size: 1.5em

p
    font-size: 1em

.blog-post
    background: white
    padding: 2em
    box-shadow: 0 0 4px rgba(0, 0, 0, .1)
    width: 50vw
    margin: 0 auto 2em auto

// Mobile view
@media (max-width: 65em)
    .blog-post
        width: 90vw
