bg-color = #272727
accent-color = #FFB000

.blog-post > h6
    text-align: right
    color: accent-color
    font-weight: normal
    padding: 0
    margin: 0

.blog-post > h1
    text-align: center

.blog-post
    background: bg-color
    padding: 2rem
    box-shadow: 30px 30px 43px #1c1c1c, -30px -30px 43px #323232;
    width: 50%
    margin: 0 auto 2rem auto
    border-radius: 0.5rem

// Mobile view - landscape
@media (max-device-width: 63em)
    .blog-post
        width: 80%

// Mobile view - portrait
@media (max-device-width: 30em)
    .blog-post
        width: 85%
