body
    background: rgb(234, 234, 234)

h6
    text-align: right
    color: rgb(25, 25, 25)
    font-weight: normal
    padding: 0
    margin: 0

h1
    text-align: center

.blog-post
    background: white
    padding: 2rem
    box-shadow: 0 0 4px rgba(0, 0, 0, .1)
    width: 50%
    margin: 0 auto 2rem auto

// Mobile view - landscape
@media (max-device-width: 63em)
    .blog-post
        width: 80%

// Mobile view - portrait
@media (max-device-width: 30em)
    .blog-post
        width: 85%
