extends /_templates/layout.pug

block content 

.container
  h1= self.socialmedia
    br
    
    p= self.welcometext

    a(href='mailto:miamirtel.kitt@gmail.com') miamirtel.kitt@gmail.com
    | .
  a(href='https://www.facebook.com/people/VHK-Matik/61553995101015/' target='_blank')
    img(src='/assets/facebook-770688_1280.png' alt='Facebook')
  a(href='https://www.instagram.com/vhk_matik/' target='_blank')
    img(src='/assets/instagram-1581266_1280-removebg-preview.png' alt='Instagram')
  a(href='https://www.youtube.com/@MATIKVHK' target='_blank')
    img(src='/assets/youtube-1837872_1280.png' alt='Youtube')




