bg-color = #272727
accent-color = #FFB000

.container
  width 50%
  margin 0 auto
  background-color: bg-color
  padding 20px
  border-radius 8px
  box-shadow: 30px 30px 43px #1c1c1c, -30px -30px 43px #323232;

.social-media-icons
  text-align center

.email
  color: accent-color

// Mobile view - landscape
@media (max-device-width: 63em)
    .container
        width: 80%

// Mobile view - portrait
@media (max-device-width: 30em)
    .container
        width: 85%
