bg-color = #272727
accent-color = #FFB000

.social-media-icons
  text-align center

.email
  color: accent-color

// Mobile view - landscape
@media (max-device-width: 63em)
    .container
        width: 80%

// Mobile view - portrait
@media (max-device-width: 30em)
    .container
        width: 85%
