.nav-spacer
    margin: 0

h1
    font-size: 2.5rem;

// Hero section (change background image here)
.hero
    padding: 15em 0 5em 0;
    //margin-bottom: 2rem;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.55)
    ),url("/assets/photo-collage.png");
    background-position: center
    background-size: cover;

.hero-content
    width: 40%;
    padding: 0 3rem 0 3rem;

.teams
    margin-top: 2em;

.team-item
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: normal
    align-items: flex-start
    align-content: flex-start
    margin-bottom: 1.5rem
    column-gap: 2rem

.team-item > img
    border-radius: 20px
    max-width: 60%
    height: auto

.gallery
    margin-top: 2em;