bg-color = #272727
accent-color = #FFB000

.main
    width: 65%
    margin: 0 auto

.about-us
    font-size: 1.2rem

.blog-preview
    font-size: 1.2rem

.blog-preview-post
    padding: 1rem 3rem 1.5rem 3rem
    box-shadow: 10px 10px 20px #121212, -10px -10px 20px #3c3c3c
    border-radius: 0.5rem
    font-size: 1rem

.blog-preview-post > h6
    text-align: right
    color: accent-color

.blog-link
    margin: 2rem 0 3rem 0
    padding: 1.4rem
    background: bg-color
    border-radius: 0.5rem
    display: inline-block
    box-shadow: 10px 10px 20px #121212, -10px -10px 20px #3c3c3c
    text-decoration: none

// Mobile view - landscape
@media (max-device-width: 63em)
    .main
        width: 80%

// Mobile view - portrait
@media (max-device-width: 30em)
    .main
        width: 85%
