.about.footer-item
    h4 VHK Matik 2024

    p
        a(href="https://greenpower.co.uk") Greenpower

.sitemap.footer-item
    h4 Sitemap
    
    for i in self.nav
        if i.url
            p
                a(href=i.url)=i.title
        else
            ul Teams
                div
                    for j in i 
                        li(style="list-style-type: none;")
                            a(href=j.url)=j.title

.socials.footer-item
    h4 Socials

    p
        p
            a(href="https://www.facebook.com/people/VHK-Matik/61553995101015/") Facebook 
        p
            a(href="https://www.instagram.com/vhk_matik/") Instagram 
        p
            a(href="https://www.youtube.com/@MATIKVHK") Youtube 
        p
            a(href="https://ee.linkedin.com/company/vhk-greenpower") Linkedin 