doctype html
head
    link(rel="stylesheet", href="/style.css", type="text/css")
    link(rel="icon" type="image/png" href="/assets/VHK_matik_logo.png")
    meta(charset="UTF-8")
    title VHK matik
body
    include /_templates/navbar.pug
    .nav-spacer

    main 
        block content

    footer
        include /_templates/footer.pug

    script(src="/script.js")