doctype html
html(lang=self.locale)
    head
        link(rel="stylesheet", href="/style.css", type="text/css")
        link(rel="icon" type="image/webp" href="/assets/VHK_matik_logo.webp")
        meta(charset="UTF-8")
        meta(viewport="width=device-width, initial-scale=1.0")
        link(rel="icon" href="https://matik.vhk.ee/assets/VHK_matik_logo.webp")
        title= self.website_title
        meta(name="description" content="VHK STEM is a Greenpower STEM class for high school students in the engineering class which operates as an extracurricular activity in the Old Town Educational College secondary education's engineering class' curriculum.")

        meta(property="og:type" content="website")
        meta(property="og:url" content="https://matik.vhk.ee/")
        meta(property="og:title" content="VHK STEM")
        meta(property="og:description" content="VHK STEM is a Greenpower STEM class for high school students in the engineering class which operates as an extracurricular activity in the Old Town Educational College secondary education's engineering class' curriculum.")
        meta(property="og:image" content="https://matik.vhk.ee/assets/P2400762.webp")

        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:url" content="https://matik.vhk.ee/")
        meta(property="twitter:title" content="VHK STEM")
        meta(property="twitter:description" content="VHK STEM is a Greenpower STEM class for high school students in the engineering class which operates as an extracurricular activity in the Old Town Educational College secondary education's engineering class' curriculum.")
        meta(property="twitter:image" content="https://matik.vhk.ee/assets/P2400762.webp")

    body
        include /_templates/navbar.pug
        .nav-spacer
    
        main 
            block content
    
        footer
            include /_templates/footer.pug
    
        script(src="/script.js")