doctype html
head
    link(rel="stylesheet", href="/style.css", type="text/css")
    meta(charset='utf-8')
    title VHK matik
body
    .navbar
        include /_templates/navbar.pug
    .nav-spacer

    .main 
        block content

    footer
        include /_templates/footer.pug
