// Neumorphism styles

// Container style
.container
    border-radius: 50px;
    background: #272727;
    box-shadow: 10px 10px 20px #121212, -10px -10px 20px #3c3c3c
    padding: 1rem 3rem 1.5rem 3rem

.container-m
    margin-bottom: 3.5em;

// Link style
.link-button
    padding: 1.4rem
    background: bg-color
    // border-radius: 0.5rem
    display: inline-block
    // box-shadow: 10px 10px 20px #121212, -10px -10px 20px #3c3c3c
    text-decoration: none
    border-radius: 20px;
    box-shadow: 10px 10px 20px #121212, -10px -10px 20px #3c3c3c

.link-button:hover
    background: linear-gradient(145deg, #2a2a2a, #232323);

.active-link
    box-shadow: inset  7px 7px 13px #141414,
                inset -7px -7px 13px #3a3a3a;


// Mobile view - landscape
// @media (max-device-width: 63em)

// Mobile view - portrait
@media (max-device-width: 30em)
    .containers
        padding: 1rem 1.5rem 1.5rem 1.5rem;