.main
    margin-bottom: 6rem

.content
  width 60%
  margin 0 auto

// Mobile view - landscape
@media (max-device-width: 63em)
    .content
        width: 80%

// Mobile view - portrait
@media (max-device-width: 30em)
    .content
        width: 90%