// Main styles
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap')

html
    height: 100%

body
    background: bg-color
    color: text-color
    font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5
    margin: 0
    padding: 0
    display: flex
    flex-direction: column
    min-height: 100%

ul
    margin: 0
    padding: 0

// Link styles
a
    text-decoration: none
    color: accent-color
    cursor: pointer

a:hover
    text-decoration: underline

// Navbar styles
.navbar
    background: bg-color
    // box-shadow: 10px 10px 20px #121212, -10px -10px 20px #3c3c3c
    margin: 0.8em;
    border-radius: 20px;
    box-shadow:  10px 10px 20px #121212, -10px -10px 20px #3c3c3c
    position: fixed
    top: 0
    right: 0
    left: 0
    display: flex
    flex-wrap: wrap;
    // font-size: 1.3em
    font-weight: 600
    align-items: center

.nav-spacer
    margin: 4em

.nav-content-div
    padding: 1.3em 0 1.3em 1em
    color: accent-color

.nav-lang
    margin-left: auto
    //font-size: 1.6em
    font-weight: 600
    text-transform: uppercase
    padding: 0 1.3em 0 0

.nav-lang img
    width: 35px
    height: 27px
    position: relative
    top: 5px
    border-radius: 5px

.navbar-home-logo
    width: 3em
    height: 3em
    margin: 0
    padding: 0

.navbar-home-logo-div
    padding: 0 0 0 1em
    display: flex
    align-items: center

.hamburger
    display: none

.hamburger a
    text-decoration: none

.dropdown > * 
    display: none
    position: absolute
    box-shadow: 8px 8px 15px #1c1c1c, -8px -8px 15px #323232;
    background-color: bg-color
    list-style-type: none
    padding: 0.5em
    border-radius: 20px;

.dropdown li
    margin: 0.5em
    text-decoration: none
    
// TODO: dropdown hover animation
    
.dropdown:hover > *
    display: block

img 
    max-width: 100%
    width: auto
    height: auto
    border-radius: 25px

// Footer styling
footer
    margin: auto 0.8em 0.8em 0.8em;
    border-radius: 20px;
    padding: 3em;
    box-shadow: 10px 10px 20px #121212, -10px -10px 20px #3c3c3c
    background: bg-color
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-content: center
    justify-content: space-evenly
    flex: 33%

.footer-item
    flex-grow: 3

li
    list-style-position: inside

br
    margin: 0 0 0.5em 0

@media (max-device-width: 785px)
    .nav-content-div
        display: none

    .hamburger
        margin-left: auto
        font-weight: 600
        text-transform: uppercase
        display: block
        align-items: center
        padding: 0 1.2em 0 0

    .navbar.responsive
        padding-bottom: 1em
        gap: 0.3em

    .navbar.responsive .hamburger
        position: relative
    
    .navbar.responsive .nav-content-div
        float: none
        display: flex
        flex: 100%
        padding: 0 0 0 1em
        text-align: left
        
    .teams-dropdown
        position: relative
        display: block
        box-shadow: none
        color: text-color
        padding: 0 1.2em

    .teams-dropdown li
        margin: 0
        color: accent-color

    .dropdown
        color: text-color
    
    .navbar.responsive .nav-lang
        float: none
        display: flex
        flex: 100%
        padding: 0 0 0 1em
        text-align: left

// Mobile view
@media (max-device-width: 30em)
    html
        font-size: 100%

    .about
        width:100%
    
    .sitemap
        width:100%

    .socials
        width:100%
        
    footer
        flex-direction: column

    .footer-item
        flex-grow: 1
        flex: 100%