// Global variables
footer-bg-color = #1f1f1f;
bg-color = #272727;
text-color = rgb(223, 223, 223);
accent-color = #FFB000

// Styles
@import "_styles/main";
@import "_styles/components";
@import "_styles/layout";
