html
    height: 100%

body
    font-family: Arial, Helvetica, sans-serif
    margin: 0
    display: flex
    flex-direction: column
    min-height: 100%

ul
    margin: 0
    padding: 0

a
    text-decoration: none
    color: black
    cursor: pointer

a:hover
    text-decoration: underline
    color: black

footer
    background: black
    color: white
    margin-top: auto
    padding: 0.8em
    font-size: 0.8em

.navbar
    background: white
    display: flex
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2)
    position: fixed
    top: 0
    right: 0
    left: 0

.nav-spacer
    margin: 3em

.nav-content
    display: flex
    font-size: 1.3em
    font-weight: 600
    align-items: center

.nav-lang
    margin-left: auto
    font-size: 1.6em
    font-weight: 600
    text-transform: uppercase
    display: flex
    align-items: center
    padding-right: 1.2em

.nav-content-div
    padding: 1.3em 0 1.3em 1em

.navbar-home-logo
    width: 3em
    height: 3em
    margin: 0
    padding: 0

.navbar-home-logo-div
    padding: 0 0 0 1em
    display: flex
    align-items: center

.dropdown > * 
    display: none
    position: absolute
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2)
    background-color: white
    list-style-type: none
    padding: 0.5em

.dropdown li
    margin: 0.5em
    text-decoration: none
    
.dropdown:hover > *
    display: block

// Mobile view
@media (max-device-width: 30em)
    html
        font-size: 140%
