bg-color = #272727
accent-color = #FFB000

.nav-spacer
    margin: 0

h1
    font-size: 2.5rem;

.hero
    padding: 9em 0 5em 0;
    //margin-bottom: 2rem;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.55)
    ),url("/assets/P2400762.JPG");
    background-position: center
    background-size: cover;

.hero-content
    //width: 60%;
    padding: 0 3rem 0 3rem;


.blog-preview
    // box-shadow: 10px 10px 20px #121212, -10px -10px 20px #3c3c3c
    // border-radius: 0.5rem

.blog-preview-post > h1
    font-size: 2.2rem

.blog-preview-post > h6
    float: right
    line-height: 0
    margin: 1.6em 0 0 1em
    color: accent-color

.blog-link
    margin: 1.5rem 0 1.5rem 0

// Mobile view - portrait
@media (max-device-width: 30em)
    .content
        width: 90%

    .sponsor-images
        padding: 0;

    // h1
    //     font-size: 2rem;


    // .blog-preview-post > h1
    //     font-size: 1.7rem